@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;600&display=swap');

body{
    background-color: #EEEEEE;
    font-family: 'Noto Sans', sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main{
    flex-grow: 1;
}

.main-404 h1{
    font-size: 32px;
}

header{
    margin-top: 16px;
    margin-bottom: 48px;
}

nav a{
    color: #4D4D4D;
    margin-right: 16px;
    text-decoration: none;
}

footer{
    color: #393E46;
    border-top: 1px solid #ccc;
    margin-top: 16px;
    padding: 16px 0;
}

h1{
    font-size: 64px;
    color: #222831;
}

